<div class="topnav" id="myTopnav">
  <div class="col-lg-10" style="margin-left:152px;">
      <a href="#home" class="active">Coinolive</a>
      <a href="#news">Men/Women</a>
      <a href="#contact">Home Appliances</a>
      <a href="#contact">Baby Cares</a>
      <a href="#contact">Sports & Fitness</a>
      <a href="#contact">Books & Others</a>
      <a href="#contact">Groceries</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
 
</div>