<div class="container-fluid" style="  padding: 0;margin: 0;">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="top-toolbar">
        <div class="container" style="width:1400px;padding:34px 0;">
            <div class="logo-part col-lg-2">
                <a routerLink="/dashboard"  href="javascript:void(0)"> Ascorn</a>
            </div>
            <div class="search-box col-lg-5">
                <form class="header-form-search" action="/action_page.php">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type to search..." name="search" style="flex: 1 1 0%; box-sizing: border-box;height:39.5px;">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" style="padding:9px 12px">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="col-lg-3 pull-right">
              <ul class="sign-details">
                <li *ngIf="!userName">
                  <a routerLink="/login"  href="javascript:void(0)">Signup</a>
                </li>
                  <li *ngIf="userName" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{userName}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                      <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-credit-card"></span> Orders</a></li>
                      <li><a href="javascript:void(0)"><span class="glyphicon glyphicon-heart"></span> Wishlist</a></li>
                      <li><a href="javascript:void(0)"> <span class="glyphicon glyphicon-retweet"></span> Rewards</a></li>
                      <li><a href="javascript:void(0)">  <span class="glyphicon glyphicon-info-sign"></span> Notifications</a></li>
                      <li><a (click)="logout()" href="javascript:void(0)"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                  </li>
                <li>
                    <a href="javascript:void(0)"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 21px;top:4px;"></span> Shopping Cart <span class="caret"></span></a>
                  </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default" style=" box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);">
            <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          
          
          <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Electronics</a>
              </li>
              <li class="dropdown mega-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men/Women <span class="glyphicon glyphicon-chevron-down" style="top:2px;font-size:12px"></span></a>
                  <ul class="dropdown-menu mega-dropdown-menu row">
                      <li class="col-sm-3">
                          <ul>
                              <li class="dropdown-header">MEN</li>
                              <li>
                                  <a href="#">T-shirts &amp; Polos</a>
                              </li>
                              <li>
                                  <a href="#">Shoes &amp; Boots</a>
                              </li>
                              <li>
                                  <a href="#">Jeans</a>
                              </li>
                              <li>
                                  <a href="#">Coats</a>
                              </li>
                          </ul>
                      </li>
                      <li class="col-sm-3">
                          <ul>
                              <li class="dropdown-header"> WOMEN</li>
                              <li>
                                  <a href="#">Dresses &amp; Skirts</a>
                              </li>
                              <li>
                                  <a href="#">Jackets</a>
                              </li>
                              <li>
                                  <a href="#">Tops &amp; Blouses</a>
                              </li>
                              <li>
                                  <a href="#">Shoes &amp; Boots</a>
                              </li>
                              <li>
                                  <a href="#">Knitwear</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home Appliances</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Baby Cares</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Books & Others</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groceries</a>
              </li>
              <li class="dropdown mega-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sports & Fitness <span class="glyphicon glyphicon-chevron-down" style="top:2px;font-size:12px"></span></a>
                
                <ul class="dropdown-menu mega-dropdown-menu row">
                  <!-- <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">New in Stores</li>                            
                                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                        <div class="item active">
                                            <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 1"></a>
                                            <h4><small>Summer dress floral prints</small></h4>                                        
                                            <button class="btn btn-primary" type="button">49,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>       
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="http://placehold.it/254x150/ef5e55/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 2"></a>
                                            <h4><small>Gold sandals with shiny touch</small></h4>                                        
                                            <button class="btn btn-primary" type="button">9,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>        
                                        </div>
                                        <div class="item">
                                            <a href="#"><img src="http://placehold.it/254x150/2ecc71/f5f5f5/&text=New+Collection" class="img-responsive" alt="product 3"></a>
                                            <h4><small>Denin jacket stamped</small></h4>                                        
                                            <button class="btn btn-primary" type="button">49,99 €</button> <button href="#" class="btn btn-default" type="button"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</button>      
                                        </div>                                
                                      </div>
                                    </div>
                                    <li class="divider"></li>
                                    <li><a href="#">View all Collection <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                    </ul>
                  </li> -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Dresses</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Tops</li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Jackets</li>
                      <li><a href="#">Easy to customize</a></li>
                      <li><a href="#">Glyphicons</a></li>
                      <li><a href="#">Pull Right Elements</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Pants</li>
                      <li><a href="#">Coloured Headers</a></li>
                      <li><a href="#">Primary Buttons & Default</a></li>
                      <li><a href="#">Calls to action</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">Accessories</li>
                      <li><a href="#">Default Navbar</a></li>
                      <li><a href="#">Lovely Fonts</a></li>
                      <li><a href="#">Responsive Dropdown </a></li>							
                      <li class="divider"></li>
                                    <!-- <li class="dropdown-header">Newsletter</li>
                                    <form class="form" role="form">
                                      <div class="form-group">
                                        <label class="sr-only" for="email">Email address</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email">                                                              
                                      </div>
                                      <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </form>                                                        -->
                    </ul>
                  </li>
                </ul>
                
              </li>
            </ul>
            
          </div><!-- /.nav-collapse -->
        </nav>
    </div>
  </div>
</div>








<!-- <div>
  <nav class="navbar navbar-design">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">BlackHat</a>
      </div>
      <div class="search-box">
        <form class="header-form-search" action="/action_page.php">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!userNotLoggedIn"><a (click)="userLogin()" href="#"><span class="glyphicon glyphicon-user"></span>Login & Signup</a></li>
        <li *ngIf="userNotLoggedIn"><a (click)="userLogOut()" href="#"><span class="glyphicon glyphicon-user"></span>{{userName}}</a></li>
      </ul>
    </div>
  </nav>
  <div style="padding-top:56px;">
    <app-header-page></app-header-page>
  </div>
</div> -->
