.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: .33s,cubic-bezier(.685,.0473,.346,1);
    transition-property: top,bottom,width;
    transition-duration: .2s,.2s,.35s;
    transition-timing-function: linear,linear,ease;
}
.main-panel>.navbar {
    margin-bottom: 0;
}
.navbar.navbar-transparent {
    padding-top: 10px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;

}

.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
    z-index: 1029;
}

.navbar.fixed-top {
    border-radius: 0;
}
.navbar {
    border: 0;
    border-radius: 3px;
    padding: .625rem 0;
    margin-bottom: 20px;
    color: #555;
    background-color: #fff!important;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.12), 0 7px 10px -5px rgba(0,0,0,.15);
}
.fixed-top {
    right: 0;
    left: 0;
    top: 0;
}
@media (min-width: 992px){
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    
}
.navbar{
    display: flex;
    align-items: center;
}
.form-inline{
    position: absolute;
    right: 0;
}
.navbar-brand{
    position: relative;
    color: inherit;
    height: 50px;
    line-height: 30px;
    padding: 12px 12px;
    font-weight: 300;
    margin-left: 1rem;
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    color: #555555;
}

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-control{
    line-height: 1.1;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    background: no-repeat bottom,50% calc(100% - 1px);
    background-size: 0 100%,100% 100%;
    border: 0;
    border-bottom: 1px solid #000;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
    color: #495057;
    padding: .4375rem 0;
    display: block;
    margin-top: 10px;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 35%;
}
.form-control:focus {
    color: #495057;
    background-color: transparent;
    outline: 0;
    z-index: 3;
    border: 0;
    background-size: 100% 100%,100% 100%;
    transition-duration: .3s;
    box-shadow: none;
    background-image: linear-gradient(0deg,#9c27b0 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
}
.btn.btn-just-icon.btn-round {
    border-radius: 50%;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn.btn-just-icon {
    font-size: 24px;
    height: 41px;
    min-width: 41px;
    width: 41px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: 41px;
    margin-top: 8px;
}
.btn.btn-white{
    background-color: #fff;
    color: #999;
}
.btn {
    margin: .3125rem 1px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0;
    border: 0;
    
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1);
    will-change: box-shadow,transform;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border-color: #999;
    box-shadow: 0 2px 2px 0 hsla(0,0%,60%,.14), 0 3px 1px -2px hsla(0,0%,60%,.2), 0 1px 5px 0 hsla(0,0%,60%,.12);
}

@media (min-width: 768px){
.navbar-right {
    float: right!important;
    margin-right: 0px;
    }
}

.dropdown-menu .divider {
    height: 1px;
    margin: 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu{
    margin: 0;
    padding: 0;
}
.dropdown-menu>li>a{
    padding: 12px 20px;
}