:host /deep/ .carousel{
    height: 480px !important;
    overflow: hidden;
}
:host /deep/ .carousel-indicators{
    bottom: 0 !important;
}
:host /deep/ .carousel-caption{
    top: 30% !important;
}
