<div class="container-fluid" style="padding:0;margin:0;">
    <app-nav-bar></app-nav-bar>
    <app-filter-menu [@slideInOut]="menuState" (SetDataValue)="SetDataValue($event)"></app-filter-menu>
    <!-- Home page starts -->
    <div class="container-fluid" style="padding: 30px 15px;">
        <div class="main-content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of coinsDeatilsArray">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon" *ngIf="item.type =='active'">
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                            </div>
                            <div class="card-icon" *ngIf="item.type =='price'" style="background: linear-gradient(60deg,#ef5350,#e53935);">
                                <i class="fa fa-connectdevelop" aria-hidden="true"></i>
                            </div>
                            <div class="card-icon" *ngIf="item.type =='revenue'" style="background: linear-gradient(60deg,#66bb6a,#43a047);">
                                <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                            <div class="card-icon" *ngIf="item.type =='social'" style="background: linear-gradient(60deg,#26c6da,#00acc1);">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <p class="card-category">{{item.categoryName}}</p>
                            <h3 class="card-title">
                                <span *ngIf="item.type=='social'">+</span>{{item.categoryValue}}
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="fa fa-clock-o" aria-hidden="true" style="position: relative;top: 3px;margin-right: 6px;font-size: 16px;"></i>
                                Just Updated
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Data List starts  -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <div class="col-lg-7">
                                <h4 class="card-title">Initial Coin Offering</h4>
                                <p class="card-category"> Information, Rating and More</p>
                            </div>
                            <div class="col-lg-3">
                                <ul class="select-type-ico">
                                    <p (click)="showSelect()" class="card-category-filter">
                                        <i class="fa fa-caret-up" aria-hidden="true" style="margin-right:3px;font-size:20px;"></i>
                                        {{selectedLevel}}
                                    </p>
                                </ul>
                                <ul class="type-design" *ngIf="showtypeMenu">
                                    <li *ngFor="let typename of typelevels" (click)="selectTypeMenu(typename.name)">
                                       <a href="javascript:void(0)"> {{typename.name}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-2">
                                <p (click)="toggleMenu()" class="card-category-filter">
                                    <i class="fa fa-filter" aria-hidden="true" style="margin-right:3px;font-size:20px;"></i>Filter
                                </p>
                            </div>
                        </div>
                        <div class="card-body table-responsive" *ngIf="!loader">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>#</th>
                                        <th (click)="setKeyfilterVAlue('name')">ICO</th>
                                        <th (click)="setKeyfilterVAlue('categoryName')">Category</th>
                                        <th (click)="setKeyfilterVAlue('numberOfInfluncerRate')">Influencers Rate</th>
                                        <th (click)="setKeyfilterVAlue('hardCapBig')">Hard Cap $</th>
                                        <th (click)="setKeyfilterVAlue('raised')">Raised</th>
                                        <th (click)="setKeyfilterVAlue('icoPriceInDollars')">ICO Price </th>
                                        <th (click)="setKeyfilterVAlue('endDate')">Ends in</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of collection | paginate: { itemsPerPage: 7, currentPage: p };let i= index ">
                                        <td>{{i+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.categoryName}}</td>
                                        <td>{{item.numberOfInfluncerRate}}</td>
                                        <td>{{item.hardCapBig}}</td>
                                        <td>{{item.raised}}</td>
                                        <td>{{item.icoPriceInDollars}}</td>
                                        <td>{{item.endDate | date: 'dd-MM-yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="no-data-found" *ngIf="collection.length==0">
                                    <div  class="alert alert-danger" style="font-size:12px;">No Record Found</div>
                            </div>
                        </div>
                        <div>
                            <app-placeholder *ngIf="loader"></app-placeholder>
                            <app-placeholder *ngIf="loader"></app-placeholder>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Data List ends  -->
            <div *ngIf="!loader && collection.length !=0" class="pagination" style="margin-top:-10px;float:right;">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <!-- Home page ends -->
    <app-footer-page></app-footer-page>
</div>