
  
  <div class="side-menu">
    <div class="row">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-normal">
              <img width="44" alt="app-logo" src="/assets/products/coinolive_logo.png" />
              Coinolive
            </a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0)">
                      <p> <span class="glyphicon glyphicon-th-large" style="margin-right:20px;float: left;font-size: 25px;"></span>ICO Dashboard</p>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">
                        <p> <span class="glyphicon glyphicon-user" style="margin-right:20px;float: left;font-size: 20px;color:#A9AFBB"></span>My ICOs</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">
                        <p> <span class="glyphicon glyphicon-tasks" style="margin-right:20px;float: left;font-size: 20px;color:#A9AFBB"></span>Influencers</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">
                        <p> <span class="glyphicon glyphicon-stats" style="margin-right:20px;float: left;font-size: 20px;color:#A9AFBB"></span>Social Stats</p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="javascript:void(0)">
                        <p> <span class="glyphicon glyphicon-list" style="margin-right:20px;float: left;font-size: 20px;color:#A9AFBB"></span>Listed</p>
                      </a>
                  </li>
            </ul>
          </div>
    </div>
  </div>